[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
airtable = "*"
requests = "*"
pandas = "*"
plotly = "*"
scikit-learn = "*"
numpy = "*"
matplotlib = "*"
pyairtable = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.9"
